<!DOCTYPE html>
<html lang="en" class="h-full bg-white">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Gamified Habit Tracker</title>
  </head>
  <body class="h-full bg-white">
    <%- include('partials/_navbar') %>
    <div class="relative isolate px-6 pt-14 lg:px-8">
      <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
        <div class="text-center">
          <h1 class="text-5xl font-semibold tracking-tight text-black sm:text-7xl">
            Welcome to Gamified Habit Tracker
          </h1>
          <p class="mt-8 text-lg font-medium text-gray-500 sm:text-xl">
            Track your habits, earn points, and level up your life!
          </p>
          <div class="mt-10 flex items-center justify-center gap-x-6">
            <% if (currentUser) { %>
              <a href="/habits" class="rounded-md bg-primary px-3.5 py-2.5 text-sm font-semibold text-white shadow hover:bg-primary focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary">
                Get Started
              </a>
            <% } else { %>
              <a href="/auth/sign-up" class="rounded-md bg-primary px-3.5 py-2.5 text-sm font-semibold text-white shadow hover:bg-primary focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary">
                Sign Up
              </a>
              <a href="/auth/sign-in" class="text-sm font-semibold text-black">
                Sign In <span aria-hidden="true">&rarr;</span>
              </a>
            <% } %>
          </div>
        </div>
      </div>

      </div>
    </div>
  </body>
</html>
